.top-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30em;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}